.m-0 {
  margin: 0;
}

.m-20 {
  margin: 40px;
}

.m-30 {
  margin: 60px;
}

.m-40 {
  margin: 80px;
}

.m-50 {
  margin: 100px;
}

.m-60 {
  margin: 120px;
}

.m-80 {
  margin: 160px;
}

.m-100 {
  margin: 200px;
}

.m-120 {
  margin: 240px;
}

.m-160 {
  margin: 320px;
}

.m-200 {
  margin: 400px;
}

.m-240 {
  margin: 480px;
}

.m-280 {
  margin: 560px;
}

.m-320 {
  margin: 640px;
}

.m-360 {
  margin: 720px;
}

.m-auto {
  margin: auto;
}

.m-px {
  margin: 1px;
}

.-m-1 {
  margin: -5px;
}

.-m-px {
  margin: -1px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-5 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-10 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-20 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mx-20 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-30 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mx-30 {
  margin-left: 60px;
  margin-right: 60px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-px {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mx-px {
  margin-left: 1px;
  margin-right: 1px;
}

.-my-1 {
  margin-top: -5px;
  margin-bottom: -5px;
}

.-mx-1 {
  margin-left: -5px;
  margin-right: -5px;
}

.-my-px {
  margin-top: -1px;
  margin-bottom: -1px;
}

.-mx-px {
  margin-left: -1px;
  margin-right: -1px;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-2 {
  margin-top: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.mt-3 {
  margin-top: 20px;
}

.mr-3 {
  margin-right: 20px;
}

.mb-3 {
  margin-bottom: 20px;
}

.ml-3 {
  margin-left: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.mr-4 {
  margin-right: 40px;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-4 {
  margin-left: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mr-5 {
  margin-right: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-5 {
  margin-left: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mr-6 {
  margin-right: 60px;
}

.mb-6 {
  margin-bottom: 60px;
}

.ml-6 {
  margin-left: 60px;
}

.mt-8 {
  margin-top: 80px;
}

.mr-8 {
  margin-right: 80px;
}

.mb-8 {
  margin-bottom: 80px;
}

.ml-8 {
  margin-left: 80px;
}

.mt-10 {
  margin-top: 100px;
}

.mr-10 {
  margin-right: 100px;
}

.mb-10 {
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 100px;
}

.mt-12 {
  margin-top: 120px;
}

.mr-12 {
  margin-right: 120px;
}

.mb-12 {
  margin-bottom: 120px;
}

.ml-12 {
  margin-left: 120px;
}

.mt-16 {
  margin-top: 160px;
}

.mr-16 {
  margin-right: 160px;
}

.mb-16 {
  margin-bottom: 160px;
}

.ml-16 {
  margin-left: 160px;
}

.mt-20 {
  margin-top: 200px;
}

.mr-20 {
  margin-right: 200px;
}

.mb-20 {
  margin-bottom: 200px;
}

.ml-20 {
  margin-left: 200px;
}

.mt-24 {
  margin-top: 240px;
}

.mr-24 {
  margin-right: 240px;
}

.mb-24 {
  margin-bottom: 240px;
}

.ml-24 {
  margin-left: 240px;
}

.mt-32 {
  margin-top: 320px;
}

.mr-32 {
  margin-right: 320px;
}

.mb-32 {
  margin-bottom: 320px;
}

.ml-32 {
  margin-left: 320px;
}

.mt-40 {
  margin-top: 400px;
}

.mr-40 {
  margin-right: 400px;
}

.mb-40 {
  margin-bottom: 400px;
}

.ml-40 {
  margin-left: 400px;
}

.mt-48 {
  margin-top: 480px;
}

.mr-48 {
  margin-right: 480px;
}

.mb-48 {
  margin-bottom: 480px;
}

.ml-48 {
  margin-left: 480px;
}

.mt-56 {
  margin-top: 560px;
}

.mr-56 {
  margin-right: 560px;
}

.mb-56 {
  margin-bottom: 560px;
}

.ml-56 {
  margin-left: 560px;
}

.mt-64 {
  margin-top: 640px;
}

.mr-64 {
  margin-right: 640px;
}

.mb-64 {
  margin-bottom: 640px;
}

.ml-64 {
  margin-left: 640px;
}

.mt-72 {
  margin-top: 720px;
}

.mr-72 {
  margin-right: 720px;
}

.mb-72 {
  margin-bottom: 720px;
}

.ml-72 {
  margin-left: 720px;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-px {
  margin-top: 1px;
}

.mr-px {
  margin-right: 1px;
}

.mb-px {
  margin-bottom: 1px;
}

.ml-px {
  margin-left: 1px;
}

.-mt-1 {
  margin-top: -5px;
}

.-mr-1 {
  margin-right: -5px;
}

.-mb-1 {
  margin-bottom: -5px;
}

.-ml-1 {
  margin-left: -5px;
}



.-mt-56 {
  margin-top: -560px;
}

.-mr-56 {
  margin-right: -560px;
}

.-mb-56 {
  margin-bottom: -560px;
}

.-ml-56 {
  margin-left: -560px;
}

.-mt-64 {
  margin-top: -640px;
}

.-mr-64 {
  margin-right: -640px;
}

.-mb-64 {
  margin-bottom: -640px;
}

.-ml-64 {
  margin-left: -640px;
}

.-mt-72 {
  margin-top: -720px;
}

.-mr-72 {
  margin-right: -720px;
}

.-mb-72 {
  margin-bottom: -720px;
}

.-ml-72 {
  margin-left: -720px;
}

.-mt-px {
  margin-top: -1px;
}

.-mr-px {
  margin-right: -1px;
}

.-mb-px {
  margin-bottom: -1px;
}

.-ml-px {
  margin-left: -1px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 20px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 50px;
}

.p-6 {
  padding: 60px;
}

.p-8 {
  padding: 80px;
}

.p-10 {
  padding: 100px;
}

.p-12 {
  padding: 120px;
}

.p-16 {
  padding: 160px;
}

.p-20 {
  padding: 200px;
}

.p-24 {
  padding: 240px;
}

.p-32 {
  padding: 320px;
}

.p-40 {
  padding: 400px;
}

.p-48 {
  padding: 480px;
}

.p-56 {
  padding: 560px;
}

.p-64 {
  padding: 640px;
}

.p-72 {
  padding: 720px;
}

.p-px {
  padding: 1px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.px-6 {
  padding-left: 60px;
  padding-right: 60px;
}

.py-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.px-8 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-10 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.px-10 {
  padding-left: 100px;
  padding-right: 100px;
}

.py-12 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.px-12 {
  padding-left: 120px;
  padding-right: 120px;
}

.py-16 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.px-16 {
  padding-left: 160px;
  padding-right: 160px;
}

.py-20 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.px-20 {
  padding-left: 200px;
  padding-right: 200px;
}

.py-24 {
  padding-top: 240px;
  padding-bottom: 240px;
}

.px-24 {
  padding-left: 240px;
  padding-right: 240px;
}

.py-32 {
  padding-top: 320px;
  padding-bottom: 320px;
}

.px-32 {
  padding-left: 320px;
  padding-right: 320px;
}

.py-40 {
  padding-top: 400px;
  padding-bottom: 400px;
}

.px-40 {
  padding-left: 400px;
  padding-right: 400px;
}

.py-48 {
  padding-top: 480px;
  padding-bottom: 480px;
}

.px-48 {
  padding-left: 480px;
  padding-right: 480px;
}

.py-56 {
  padding-top: 560px;
  padding-bottom: 560px;
}

.px-56 {
  padding-left: 560px;
  padding-right: 560px;
}

.py-64 {
  padding-top: 640px;
  padding-bottom: 640px;
}

.px-64 {
  padding-left: 640px;
  padding-right: 640px;
}

.py-72 {
  padding-top: 720px;
  padding-bottom: 720px;
}

.px-72 {
  padding-left: 720px;
  padding-right: 720px;
}

.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.px-px {
  padding-left: 1px;
  padding-right: 1px;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-1 {
  padding-top: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pt-3 {
  padding-top: 20px;
}

.pr-3 {
  padding-right: 20px;
}

.pb-3 {
  padding-bottom: 20px;
}

.pl-3 {
  padding-left: 20px;
}

.pt-4 {
  padding-top: 40px;
}

.pr-4 {
  padding-right: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pl-4 {
  padding-left: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pr-5 {
  padding-right: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-5 {
  padding-left: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pr-6 {
  padding-right: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pl-6 {
  padding-left: 60px;
}

.pt-8 {
  padding-top: 80px;
}

.pr-8 {
  padding-right: 80px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pl-8 {
  padding-left: 80px;
}

.pt-10 {
  padding-top: 100px;
}

.pr-10 {
  padding-right: 100px;
}

.pb-10 {
  padding-bottom: 100px;
}

.pl-10 {
  padding-left: 100px;
}

.pt-12 {
  padding-top: 120px;
}

.pr-12 {
  padding-right: 120px;
}

.pb-12 {
  padding-bottom: 120px;
}

.pl-12 {
  padding-left: 120px;
}

.pt-16 {
  padding-top: 160px;
}

.pr-16 {
  padding-right: 160px;
}

.pb-16 {
  padding-bottom: 160px;
}

.pl-16 {
  padding-left: 160px;
}

.pt-20 {
  padding-top: 200px;
}

.pr-20 {
  padding-right: 200px;
}

.pb-20 {
  padding-bottom: 200px;
}

.pl-20 {
  padding-left: 200px;
}

.pt-24 {
  padding-top: 240px;
}

.pr-24 {
  padding-right: 240px;
}

.pb-24 {
  padding-bottom: 240px;
}

.pl-24 {
  padding-left: 240px;
}

.pt-32 {
  padding-top: 320px;
}

.pr-32 {
  padding-right: 320px;
}

.pb-32 {
  padding-bottom: 320px;
}

.pl-32 {
  padding-left: 320px;
}

.pt-40 {
  padding-top: 400px;
}

.pr-40 {
  padding-right: 400px;
}

.pb-40 {
  padding-bottom: 400px;
}

.pl-40 {
  padding-left: 400px;
}

.pt-48 {
  padding-top: 480px;
}

.pr-48 {
  padding-right: 480px;
}

.pb-48 {
  padding-bottom: 480px;
}

.pl-48 {
  padding-left: 480px;
}

.pt-56 {
  padding-top: 560px;
}

.pr-56 {
  padding-right: 560px;
}

.pb-56 {
  padding-bottom: 560px;
}

.pl-56 {
  padding-left: 560px;
}

.pt-64 {
  padding-top: 640px;
}

.pr-64 {
  padding-right: 640px;
}

.pb-64 {
  padding-bottom: 640px;
}

.pl-64 {
  padding-left: 640px;
}

.pt-72 {
  padding-top: 720px;
}

.pr-72 {
  padding-right: 720px;
}

.pb-72 {
  padding-bottom: 720px;
}

.pl-72 {
  padding-left: 720px;
}

.pt-px {
  padding-top: 1px;
}

.pr-px {
  padding-right: 1px;
}

.pb-px {
  padding-bottom: 1px;
}

.pl-px {
  padding-left: 1px;
}
