.fs10 {
  font-size: 20px;
}

.fs12 {
  font-size: 24px;
}

.fs13 {
  font-size: 26px;
}

.fs14 {
  font-size: 28px;
}

.fs15 {
  font-size: 30px;
}

.fs16 {
  font-size: 32px;
}

.fs17 {
  font-size: 34px;
}

.fs18 {
  font-size: 36px;
}

.fs19 {
  font-size: 38px;
}

.fs20 {
  font-size: 40px;
}

.fs21 {
  font-size: 42px;
}

.fs22 {
  font-size: 44px;
}

.fs23 {
  font-size: 46px;
}

.fs24 {
  font-size: 48px;
}

.fs27 {
  font-size: 54px;
}

.fs29 {
  font-size: 58px;
}

.fs32 {
  font-size: 64px;
}

.fs34 {
  font-size: 68px;
}

.fs44 {
  font-size: 88px;
}

.fs88 {
  font-size: 176px;
}
