.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}

.bg-gray-400 {
  background-color: #cbd5e0;
}

.bg-gray-500 {
  background-color: #a0aec0;
}

.bg-gray-600 {
  background-color: #718096;
}

.bg-gray-700 {
  background-color: #4a5568;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.bg-red-100 {
  background-color: #fff5f5;
}

.bg-red-200 {
  background-color: #fed7d7;
}

.bg-red-300 {
  background-color: #feb2b2;
}

.bg-red-400 {
  background-color: #fc8181;
}

.bg-red-500 {
  background-color: #f56565;
}

.bg-red-600 {
  background-color: #e53e3e;
}

.bg-red-700 {
  background-color: #c53030;
}

.bg-red-800 {
  background-color: #9b2c2c;
}

.bg-red-900 {
  background-color: #742a2a;
}

.bg-orange-100 {
  background-color: #fffaf0;
}

.bg-orange-200 {
  background-color: #feebc8;
}

.bg-orange-300 {
  background-color: #fbd38d;
}

.bg-orange-400 {
  background-color: #f6ad55;
}

.bg-orange-500 {
  background-color: #ed8936;
}

.bg-orange-600 {
  background-color: #dd6b20;
}

.bg-orange-700 {
  background-color: #c05621;
}

.bg-orange-800 {
  background-color: #9c4221;
}

.bg-orange-900 {
  background-color: #7b341e;
}

.bg-yellow-100 {
  background-color: #fffff0;
}

.bg-yellow-200 {
  background-color: #fefcbf;
}

.bg-yellow-300 {
  background-color: #faf089;
}

.bg-yellow-400 {
  background-color: #f6e05e;
}

.bg-yellow-500 {
  background-color: #ffe459;
}

.bg-yellow-600 {
  background-color: #d69e2e;
}

.bg-yellow-700 {
  background-color: #b7791f;
}

.bg-yellow-800 {
  background-color: #975a16;
}

.bg-yellow-900 {
  background-color: #744210;
}

.bg-green-100 {
  background-color: #f0fff4;
}

.bg-green-200 {
  background-color: #c6f6d5;
}

.bg-green-300 {
  background-color: #9ae6b4;
}

.bg-green-400 {
  background-color: #68d391;
}

.bg-green-500 {
  background-color: #48bb78;
}

.bg-green-600 {
  background-color: #38a169;
}

.bg-green-700 {
  background-color: #2f855a;
}

.bg-green-800 {
  background-color: #276749;
}

.bg-green-900 {
  background-color: #22543d;
}

.bg-teal-100 {
  background-color: #e6fffa;
}

.bg-teal-200 {
  background-color: #b2f5ea;
}

.bg-teal-300 {
  background-color: #81e6d9;
}

.bg-teal-400 {
  background-color: #4fd1c5;
}

.bg-teal-500 {
  background-color: #38b2ac;
}

.bg-teal-600 {
  background-color: #319795;
}

.bg-teal-700 {
  background-color: #2c7a7b;
}

.bg-teal-800 {
  background-color: #285e61;
}

.bg-teal-900 {
  background-color: #234e52;
}

.bg-blue-100 {
  background-color: #ebf8ff;
}

.bg-blue-200 {
  background-color: #bee3f8;
}

.bg-blue-300 {
  background-color: #90cdf4;
}

.bg-blue-400 {
  background-color: #63b3ed;
}

.bg-blue-500 {
  background-color: #4299e1;
}

.bg-blue-600 {
  background-color: #3182ce;
}

.bg-blue-700 {
  background-color: #2b6cb0;
}

.bg-blue-800 {
  background-color: #2c5282;
}

.bg-blue-900 {
  background-color: #2a4365;
}

.bg-indigo-100 {
  background-color: #ebf4ff;
}

.bg-indigo-200 {
  background-color: #c3dafe;
}

.bg-indigo-300 {
  background-color: #a3bffa;
}

.bg-indigo-400 {
  background-color: #7f9cf5;
}

.bg-indigo-500 {
  background-color: #667eea;
}

.bg-indigo-600 {
  background-color: #5a67d8;
}

.bg-indigo-700 {
  background-color: #4c51bf;
}

.bg-indigo-800 {
  background-color: #434190;
}

.bg-indigo-900 {
  background-color: #3c366b;
}

.bg-purple-100 {
  background-color: #faf5ff;
}

.bg-purple-200 {
  background-color: #e9d8fd;
}

.bg-purple-300 {
  background-color: #d6bcfa;
}

.bg-purple-400 {
  background-color: #b794f4;
}

.bg-purple-500 {
  background-color: #9f7aea;
}

.bg-purple-600 {
  background-color: #805ad5;
}

.bg-purple-700 {
  background-color: #6b46c1;
}

.bg-purple-800 {
  background-color: #553c9a;
}

.bg-purple-900 {
  background-color: #44337a;
}

.bg-pink-100 {
  background-color: #fff5f7;
}

.bg-pink-200 {
  background-color: #fed7e2;
}

.bg-pink-300 {
  background-color: #fbb6ce;
}

.bg-pink-400 {
  background-color: #f687b3;
}

.bg-pink-500 {
  background-color: #ed64a6;
}

.bg-pink-600 {
  background-color: #d53f8c;
}

.bg-pink-700 {
  background-color: #b83280;
}

.bg-pink-800 {
  background-color: #97266d;
}

.bg-pink-900 {
  background-color: #702459;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-left-top {
  background-position: left top;
}

.bg-right {
  background-position: right;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-right-top {
  background-position: right top;
}

.bg-top {
  background-position: top;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-auto {
  background-size: auto;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.border-collapse {
  border-collapse: collapse;
}

.border-separate {
  border-collapse: separate;
}

.border-transparent {
  border-color: transparent;
}

.border-black {
  border-color: #000;
}

.border-white {
  border-color: #fff;
}

.border-gray-100 {
  border-color: #f7fafc;
}

.border-gray-200 {
  border-color: #edf2f7;
}

.border-gray-300 {
  border-color: #e2e8f0;
}

.border-gray-400 {
  border-color: #cbd5e0;
}

.border-gray-500 {
  border-color: #a0aec0;
}

.border-gray-600 {
  border-color: #718096;
}

.border-gray-700 {
  border-color: #4a5568;
}

.border-gray-800 {
  border-color: #2d3748;
}

.border-gray-900 {
  border-color: #1a202c;
}

.border-red-100 {
  border-color: #fff5f5;
}

.border-red-200 {
  border-color: #fed7d7;
}

.border-red-300 {
  border-color: #feb2b2;
}

.border-red-400 {
  border-color: #fc8181;
}

.border-red-500 {
  border-color: #f56565;
}

.border-red-600 {
  border-color: #e53e3e;
}

.border-red-700 {
  border-color: #c53030;
}

.border-red-800 {
  border-color: #9b2c2c;
}

.border-red-900 {
  border-color: #742a2a;
}

.border-orange-100 {
  border-color: #fffaf0;
}

.border-orange-200 {
  border-color: #feebc8;
}

.border-orange-300 {
  border-color: #fbd38d;
}

.border-orange-400 {
  border-color: #f6ad55;
}

.border-orange-500 {
  border-color: #ed8936;
}

.border-orange-600 {
  border-color: #dd6b20;
}

.border-orange-700 {
  border-color: #c05621;
}

.border-orange-800 {
  border-color: #9c4221;
}

.border-orange-900 {
  border-color: #7b341e;
}

.border-yellow-100 {
  border-color: #fffff0;
}

.border-yellow-200 {
  border-color: #fefcbf;
}

.border-yellow-300 {
  border-color: #faf089;
}

.border-yellow-400 {
  border-color: #f6e05e;
}

.border-yellow-500 {
  border-color: #ffe459;
}

.border-yellow-600 {
  border-color: #d69e2e;
}

.border-yellow-700 {
  border-color: #b7791f;
}

.border-yellow-800 {
  border-color: #975a16;
}

.border-yellow-900 {
  border-color: #744210;
}

.border-green-100 {
  border-color: #f0fff4;
}

.border-green-200 {
  border-color: #c6f6d5;
}

.border-green-300 {
  border-color: #9ae6b4;
}

.border-green-400 {
  border-color: #68d391;
}

.border-green-500 {
  border-color: #48bb78;
}

.border-green-600 {
  border-color: #38a169;
}

.border-green-700 {
  border-color: #2f855a;
}

.border-green-800 {
  border-color: #276749;
}

.border-green-900 {
  border-color: #22543d;
}

.border-teal-100 {
  border-color: #e6fffa;
}

.border-teal-200 {
  border-color: #b2f5ea;
}

.border-teal-300 {
  border-color: #81e6d9;
}

.border-teal-400 {
  border-color: #4fd1c5;
}

.border-teal-500 {
  border-color: #38b2ac;
}

.border-teal-600 {
  border-color: #319795;
}

.border-teal-700 {
  border-color: #2c7a7b;
}

.border-teal-800 {
  border-color: #285e61;
}

.border-teal-900 {
  border-color: #234e52;
}

.border-blue-100 {
  border-color: #ebf8ff;
}

.border-blue-200 {
  border-color: #bee3f8;
}

.border-blue-300 {
  border-color: #90cdf4;
}

.border-blue-400 {
  border-color: #63b3ed;
}

.border-blue-500 {
  border-color: #4299e1;
}

.border-blue-600 {
  border-color: #3182ce;
}

.border-blue-700 {
  border-color: #2b6cb0;
}

.border-blue-800 {
  border-color: #2c5282;
}

.border-blue-900 {
  border-color: #2a4365;
}

.border-indigo-100 {
  border-color: #ebf4ff;
}

.border-indigo-200 {
  border-color: #c3dafe;
}

.border-indigo-300 {
  border-color: #a3bffa;
}

.border-indigo-400 {
  border-color: #7f9cf5;
}

.border-indigo-500 {
  border-color: #667eea;
}

.border-indigo-600 {
  border-color: #5a67d8;
}

.border-indigo-700 {
  border-color: #4c51bf;
}

.border-indigo-800 {
  border-color: #434190;
}

.border-indigo-900 {
  border-color: #3c366b;
}

.border-purple-100 {
  border-color: #faf5ff;
}

.border-purple-200 {
  border-color: #e9d8fd;
}

.border-purple-300 {
  border-color: #d6bcfa;
}

.border-purple-400 {
  border-color: #b794f4;
}

.border-purple-500 {
  border-color: #9f7aea;
}

.border-purple-600 {
  border-color: #805ad5;
}

.border-purple-700 {
  border-color: #6b46c1;
}

.border-purple-800 {
  border-color: #553c9a;
}

.border-purple-900 {
  border-color: #44337a;
}

.border-pink-100 {
  border-color: #fff5f7;
}

.border-pink-200 {
  border-color: #fed7e2;
}

.border-pink-300 {
  border-color: #fbb6ce;
}

.border-pink-400 {
  border-color: #f687b3;
}

.border-pink-500 {
  border-color: #ed64a6;
}

.border-pink-600 {
  border-color: #d53f8c;
}

.border-pink-700 {
  border-color: #b83280;
}

.border-pink-800 {
  border-color: #97266d;
}

.border-pink-900 {
  border-color: #702459;
}
